 		<nav class="navbar navbar-expand-lg navbar-light be-light">
  <!-- Navbar content -->
  <div class="container-fluid", style="background-color:#FFC9FF;"> 
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">首頁</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">關於我們</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="https://fhy.wra.gov.tw/fhy/Monitor/Reservoir" tabindex="-1">水利署水情查詢</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/" tabindex="-1">管理後臺</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" 
        aria-label="Search">
        <button class="button"  class="btn btn-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>